A1/runs/
A2/src/runs/
A2/src/data/
A1/data/
test/runs/
A2/data/
A3_2/
A3/ptb/runs/
A3/ptb/simple-examples/

A2/Terminal Saved Output

*.zip
*.ipynb_checkpoints
*.pyc
.DS_store
*.bin

A2/src/model.bin

*.vec

A2/consol outputs

A2/src/model.vec
