A1/data/
A1/runs/

A2/src/runs/
A2/src/data/

A2/data/
A2/consol outputs
A2/src/model.vec
A2/src/model.bin

A3_2/
A3/ptb/runs/
A3/ptb/simple-examples/

A2/Terminal Saved Output

*.zip
*.ipynb_checkpoints
*.pyc
.DS_store
*.bin
*.vec

A4/runs/


test/runs/
